.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    /* border-bottom: 1px solid #ccc; */
    background-color: #171615;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.links_container {
    display: flex;
    flex-direction: row;
    width: 30%;

}

.link {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
    color: white;
    font-size: 0.9rem;
}

.teste {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

.battle_tittle {
    background-color: green;
    color: white;
    padding: 15px 25px;
    font-size: 1.5rem;
    text-shadow: #000 2px 2px 2px;
    font-family: 'Title-Minecraft-Font';
    border-left: #2a641c 5px solid;
    border-bottom: #2a641c 5px solid;
    border-right: #2a641c 5px solid;
    border-top: #a0e081 5px solid;
}
.battle_tittle:hover {
    background-color: #1e4c13;
    transition: background-color 0.2s;
}

.link:hover {
    border-bottom: #8dcd7c 2px solid;
    transition:  1s;

    color: #8dcd7c;
    transition: color 0.3s;
}

.treeBars {
    display: none;
    font-size: 2rem;
    margin-left: 2rem;
    color: white;
}


.containerResponsive {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #171615;
    gap: 1rem;
}

.linkResponsive {
    display: none;
    padding: 20px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    transition: color 0.3s;
    border-bottom: 1px solid #4a494b;
    color: #a0e080;
    font-size: 1.4rem !important;

}


@media screen and (max-width: 900px) {
    .treeBars {
        display: block;
    }
    .containerResponsive {
        display: block;
    }
    .linkResponsive {
        display: block;
    }

    .links_container {
        display: none;
    }
    .teste {
        display: none;
    }
    
   .logoAii {
    margin: 0 auto;
   }

}

@media screen and (max-width: 322px) {
    .logoAii {
        display: none;
    }
}