@font-face {
    font-family: 'Minecraft';
    src: url(../../fonts/Minecraft.ttf);
}

.bg {
    background-color: black;
    padding: 30px;
}

.boxInventory { 
    background-color: #c6c6c6;
    display: flex;
    align-items: center;
    height: 95vh;
}

.armadura {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}



.sword {
    display: flex;
}

.itemArmadura {
    display: flex;
    background-image: url(../../public/inventory/slot.png);
    padding: 8px;
    width: 54px;
    height: 54px;
    margin: 2px;
}

.itemArmadura .itemDoItem {
    position: relative;
    /* deixar no centro */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.itemPeitoral {
    padding: 4px     !important;
}

.itemCalca {
    padding: 6px     !important;
}


.hidden {
    display: none;
}

.espadaSlot {
    margin-top: 10px;
}

.buttonSend {
    background-color: green;
    color: white;
    padding: 15px 25px;
    font-size: 1.0rem;
    text-shadow: #000 2px 2px 2px;
    font-family: 'Title-Minecraft-Font';
    border-left: #2a641c 5px solid;
    border-bottom: #2a641c 5px solid;
    border-right: #2a641c 5px solid;
    border-top: #a0e081 5px solid;
    cursor: pointer;
    width: 100%;
}

.formEquipamento {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.formEquipamento input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-bottom: #fff 3px solid;
    border-left: #6c6c6c 3px solid;
    border-top: #6c6c6c 3px solid;
    background-color: #aeaeae;
    color: #fff;
    font-family: 'Minecraft', sans-serif;
    text-shadow: 2px 2px #3F3F3F;
    font-size: 20px;
}

.formEquipamento input:focus {
    outline: none;
    border: 1px solid #000;
    border-bottom: #fff 3px solid;
    border-left: #6c6c6c 3px solid;
    border-top: #6c6c6c 3px solid;
    background-color: #aeaeae;
    color: #fff;
    font-family: 'Minecraft', sans-serif;
    text-shadow: 2px 2px #3F3F3F;
    font-size: 20px;
}

.formEquipamento input::placeholder {
    color: rgb(225, 225, 225);
  }

/* .containerCreation {

} */