.main{
    background-image: url("../../public/minecampo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    justify-content: center;
    color: white;


}

.titulo {
    text-align: center;
    padding-top: 7%;
}

.titulo h1 {
    font-family: "Minecraft-Font";
    font-size: 9vh;
    text-shadow: 2px 2px 2px black;
}

.containerMob {
display: flex;
}

.opacidade {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.mob {
    margin-top: 17%;
    width: 90%;
    margin-right: -30%;
}

.mob img {
    
    width: 29%;    
}

.tituloText {
    max-width: 30%;
}