/* .teste {
    font-family: 'Minecraft-Font';
} /* isso é so pra caso alm queira usar a fonte do mine, ela ta com esse nome é so usar esse font family 

.teste_com_titulo {
    font-family: 'Title-Minecraft-Font';
} */
.container1 {
    background: rgba(38, 36, 35, 255);
}
.back{
  background-color: #ebe4e2;
}
.divHeader{
    background-color: #52a535;
    padding-top: 6%;
    padding-bottom: 4.7%;
    text-align: center;
}
.divHeader2{
  margin-top: -5%;
  margin-bottom: 2%;
    text-align: center;
}

.tituloHeader {
    font-family: 'Title-Minecraft-Font';
    color: white;
    padding-top: 1em;
    font-size: 4rem;
    text-transform: uppercase;
    padding-bottom: 8px;

}

.tituloCards{
    font-family: 'Title-Minecraft-Font';
    color: white;
    padding-top: 1em;
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 8px;
    text-align: center;
    align-items: center;

}
.container_mainNews {
    display: flex;
    color: white;
    width: 100%;
}

.mainCard {
  width: 45%;
  height: 25rem;
  margin: 1.5%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.mainCard:nth-child(1) {
  background-image: url("https://www.minecraft.net/content/dam/games/minecraft/screenshots/1-17-caves-and-cliffs-update/1-17-caves-and-cliffs-update-1.jpg");
}
.mainCard:nth-child(2) {
  background-image: url("/armamentoMIne.jpg");
}

.textMainCard {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 30%;
  position: absolute;
  color: white;
  bottom: 0;
  padding: 1%;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;


}


/* 
.container4 {
    background-image: url(	https://www.minecraft.net/content/dam/games/badger/key-art/highlight-legends.jpg);
    background-image: url(	https://www.minecraft.net/content/dam/games/minecraft/key-art/highlight-tails.jpg);
    background-size: cover;
    background-position: center;
    height: 330px;
    width: 85vh;
    margin-left: 5%;
    position: relative;
    transition: transform 0.3s;

} */



.cardContainer {
  display: flex;
  width: 100%;
  
}
.card {
  background-color: #52a535;
  width: 30%;
  height: 25rem;
  margin: 1.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  position: relative;
}

.card:nth-child(1) {
  background-image: url("https://www.minecraft.net/content/dam/games/minecraft/screenshots/1-17-caves-and-cliffs-update/1-17-caves-and-cliffs-update-1.jpg");
}
.card:nth-child(2) {
  background-image: url("/armamentoMIne.jpg");
}
.card:nth-child(3){
  background-image: url("/encantamentoMine.png");
}


.textCard {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 30%;
  position: absolute;
  color: white;
  bottom: 0;
  padding: 1%;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

}

.subTitle_card {
  margin-top: 2%;
  display: none;
}

.card:hover {
  .subTitle_card {
    display: block;
  }
}
.footerimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10%;
}
.img12{
  margin-top: -4%;
  width: 100%;
}