.main {
    color: #141414;
    background-image: url('/TestedeWallpapaer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: relative;
}

.main_container {
    width: 80%;
    margin: 0 auto;
    background: transparent;


}

.encantamentos_img {
    margin: auto;
}

 .books_list {
    width: 100%;
}

.encantamentos_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
} 

.arrows_container {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-top: 15rem;
}

.encantamentos_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

@media screen  and (max-width: 768px){
    .encantamentos_list {
        display: flex;
        flex-direction: column;
    }
}

.encantamento {
    width: 33%;
    height: 36%;
    background-color: #a09071;
    border-top: #e2cfab 0.35rem solid;
    border-left: #e2cfab 0.35rem solid;
    border-bottom: #4d4d4d 0.35rem solid;
    border-right: #4d4d4d 0.35rem solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    margin: 0 1rem;
} 
.bookInfos {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;

}
.book {
    width: 100%;
    height: 100%;
}

 .encantamento_create {
    width: 70%;
    margin-bottom: 15rem;
    padding: 1rem 0;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.encantamento_create {
    width: 70%;
    margin-bottom: 15rem;
    padding: 1rem 0;
    margin: auto;
    background-color: #c6c6c6;
    border-bottom: #555555 0.35rem solid;
    border-right: #555555 0.35rem solid;
    border-top: #ffffff 0.35rem solid;
    border-left: #ffffff 0.35rem solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}



.inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: 4rem;
    background-color: #8b8b8b;
    border-top: #404040 0.2rem solid;
    border-left: #404040 0.2rem solid;
    font-family: 'Minecraft-Font';
    color: rgb(225, 225, 225);
    font-size: 1.6rem;
    padding: 0.6rem;
    text-shadow: 2px 2px #3F3F3F;
}



.encantamento:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .book_name {
        display: block;
    }

}


.book_name {
    display: none;
    margin-top: 0.6rem;
    font-family: 'Minecraft-Font';
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-shadow: #2c262c 2px 2px 2px;
    right: 0;
    position: relative;
    font-size: 1.5rem;
    border: 5px solid #361071;
    width: 10rem;
}

.book_name::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 75%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #361071 transparent;
}


.arrows {
    padding: 1.8rem 1.3rem;
    background-color: #3b8526;
    -webkit-box-shadow: inset 0 4px #6bc349, inset 0 -4px #2a631c, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #6bc349, inset 0 -4px #2a631c, 0 4px rgba(0, 0, 0, .25);
    color: #fff;
    text-shadow: 0 1px 0 #2a631c;
    border: none;
}

.arrowsText {
    font-family: 'Minecraft-Font';
    text-shadow: #000 1px 1px 1px;
    color: white;
}

.arrows:active {
    background: #4a494b;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    -webkit-box-shadow: inset 0 -2px #8d8e92, inset 0 2px #000;
    box-shadow: inset 0 -2px #8d8e92, inset 0 2px #000;
    -webkit-transition: all .25s, opacity .75s .5s;
    transition: all .25s, opacity .75s .5s;
}



.titles {
    font-family: 'Title-Minecraft-Font';
    margin-top: 7rem;
}

.subTitles {
    font-family: 'Minecraft-Enchantment-Font';
}

.titles_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    align-items: center;
    font-size: 3rem;
    text-shadow: #000 1px 1px 1px;
    color: white;
}

.form_inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    align-items: center;
    font-size: 3rem;
    text-shadow: #000 1px 1px 1px;
    color: white;
}

.secondText {
    margin-top: 40%;
    font-size: 2rem;
    text-shadow: #000 1px 1px 1px;
    color: white;
}

/* .inputs {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 3rem;
} */

.createButton {
    margin: 2rem 0;
    width: 50%;
    height: 3rem;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: white;
    background: transparent;
}

.createButton:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background: rgba(255, 255, 255, .5);
    color: black;
}


.errors_container {
    color: white;
}