/* faça um css para o feedback*/

.main{
    padding-top: 6%;
    background: #d8d8d8;

}

.titles_container{
    background-image: url(https://theme.zdassets.com/theme_assets/2155033/3075fa693c7a32466e05b6ddb6938392b1b0fffe.png);
    padding: 94px 0 59px 0;
    background-repeat: no-repeat;
    height: 100%;
}
.titles{
    text-align: center;
}

.subTitles{
    text-align: center;

}

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

}

