.book_container {
    background-image: url('/Livro.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.main_container {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.book {
    width: 50%;
    height: 100%;
    padding: 5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: transparent;
    border: 0.3rem solid #141414;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;

}
.exitButton {
    cursor: pointer;
    width: 60%;
    height: 5rem;
    background-color: #6f6f6f;
    border: 0.3rem solid #141414;
    -webkit-box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    margin-top: 3rem;
}

.exitButton:hover{
    background-color: #3b3b3b;
    -webkit-box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    color: white;
    -webkit-box-shadow: inset 0 4px #3b3b3b, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #3b3b3b, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
}

.editButton {
    cursor: pointer;
    width: 15%;
    height: 5rem;
    background-color: #6f6f6f;
    border: 0.3rem solid #141414;
    -webkit-box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    margin-top: 3rem;
}
.editButton:hover{
    background-color: #3b3b3b;
    -webkit-box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    color: white;
    -webkit-box-shadow: inset 0 4px #3b3b3b, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #3b3b3b, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);

}
.deleteButton {
    cursor: pointer;
    width: 15%;
    height: 5rem;
    background-color: #6f6f6f;
    border: 0.3rem solid #141414;
    -webkit-box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    margin-top: 3rem;

}
.deleteButton:hover {
    background-color: #3b3b3b;
    -webkit-box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    color: white;
    -webkit-box-shadow: inset 0 4px #3b3b3b, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #3b3b3b, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);


}

.textButton{
    color: white;
    font-family: 'Minecraft-Font';
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 1); /* Sombra do texto */
}

.titleBookContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    flex-direction: column;
}
.titleBook {
    font-size: 3rem;
    color: #141414;
    font-family: 'Minecraft-Font';
}

.subTitleBook {
    font-size: 2rem;
    color: #141414;
    font-family: 'Minecraft-Enchantment-Font';
} 

.descriptionBookContainer{
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-around;
}

.descriptionBook {
    font-size: 3rem;
    color: #141414;
    font-family: 'Minecraft-Font';
    width: 80%;
    text-align: justify;
}

.informationContainer {
    font-size: 2rem;
}