.book_container {
    background-image: url('/Livro.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.main_container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.exitButton {
    cursor: pointer;
    width: 70%;
    height: 5rem;
    background-color: #6f6f6f;
    border: 0.3rem solid #141414;
    -webkit-box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    margin-top: 3rem;
}

.exitButton:hover{
    background-color: #3b3b3b;
    -webkit-box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #cacaca, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    color: white;
    -webkit-box-shadow: inset 0 4px #3b3b3b, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 4px #3b3b3b, inset 0 -4px #3b3b3b, 0 4px rgba(0, 0, 0, .25);
}

.textButton{
    color: white;
    font-family: 'Minecraft-Font';
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(2, 4, 4 , 3); /* Sombra do texto */
}