@import url('https://fonts.cdnfonts.com/css/minecraft-4');

.main {
  background-position: center;
  color: #ffffff;
  /* Cor dos textos */
  text-align: center;
  background-color: #180d18;
  padding-top: 4rem;
}

.img {
  width: 90%;
}

.divs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #402641;
}

.divs>div {
  flex: 1;
  text-align: center;
  background-color: #4F1030;
  padding: 20px;
  margin: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divs>div img {
  width: 100%;
  max-width: 230px;
  display: block;
  margin: 0 auto;
}

.divs>div h1 {
  font-size: 20px;
  margin-bottom: 20px;
  background-color: #402641;
}

.h1 {
  font-family: 'Minecraft', sans-serif;
  font-size: 25px;
  background-color: #402641;
}

.h2 {
  font-family: 'Minecraft', sans-serif;
  font-size: 30px;
  margin-top: 5%;
}

.p {
  font-size: 18px;
  margin-top: 1%;
  margin-bottom: 40px;
}

.img2 {
  width: 100%;
  margin-bottom: -0.5rem;
}

.img3 {
  width: 73%;
}
.imgfim{
  width: 100%;
  margin-bottom: -0.5rem;
  background-color: #402641;
}

.descriptionimg {
  text-align: left;
  font-size: 12px;
  padding-left: 13%;
  letter-spacing: 0.75px;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .divs {
      flex-direction: column;
      }
    
  .divs > div {
      margin: 20% 0;
      }
  
  .img3{
      width: 100%;
      }
  
  .descriptionimg{
      font-size: 100%;
      padding-left: 0%;
      margin-top: 2%;
      margin-left: 5%;
      }
  
  .h1{
      font-size: 150%;
      }
  
  .h2 {
      font-size: 20px;
      margin-top: 7%;
      }
  
      .p{
      font-size: 150%;
      margin-top: 1%;
      }
  
  .img2{
      width: 100%;
      }
  
  .img{
      width: 100%;
      }
  
      .divs {
      font-size: 140%;
      }
  
      .divs > div {
      margin: 5%;
      }
  
  .divs > div img {
      width: 100%;
      max-width: 70%;
      }
    }