/* Importa a fonte 'Minecraft' do Google Fonts */
@import url('https://fonts.cdnfonts.com/css/minecraft-4');

/* Estilos gerais para a classe .main */
.main {
  background-position: center;
  color: #ffffff; /* Cor dos textos */
  text-align: center;
  background-color: #180d18;
  padding-top: 4rem;
}

/* Estilos para a classe .img */
.img {
  width: 90%;
}

/* Estilos para a classe .divs */
.divs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #402641;
}

/* Estilos para a classe .divs>div */
.divs>div {
  flex: 1;
  text-align: center;
  background-color: #4F1030;
  padding: 20px;
  margin: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para a imagem dentro de .divs>div */
.divs>div img {
  width: 100%;
  max-width: 230px;
  display: block;
  margin: 0 auto;
}

/* Estilos para o título (h1) dentro de .divs>div */
.divs>div h1 {
  font-size: 20px;
  margin-bottom: 20px;
  background-color: #402641;
}

/* Estilos para a classe .h1 */
.h1 {
  font-family: 'Minecraft', sans-serif;
  font-size: 25px;
  background-color: #402641;
}

/* Estilos para a classe .h2 */
.h2 {
  font-family: 'Minecraft', sans-serif;
  font-size: 30px;
  margin-top: 5%;
}

/* Estilos para a classe .p */
.p {
  font-size: 18px;
  margin-top: 1%;
  margin-bottom: 40px;
}

/* Estilos para a classe .img2 */
.img2 {
  width: 100%;
  margin-bottom: -0.5rem;
}

/* Estilos para a classe .img3 */
.img3 {
  width: 73%;
}

/* Estilos para a classe .imgfim */
.imgfim {
  width: 100%;
  margin-bottom: -0.5rem;
  background-color: #402641;
}

/* Estilos para a classe .descriptionimg */
.descriptionimg {
  text-align: left;
  font-size: 12px;
  padding-left: 13%;
  letter-spacing: 0.75px;
  margin-bottom: 25px;
}

/* Estilos para telas com largura máxima de 768px */
@media screen and (max-width: 768px) {
  .divs {
    flex-direction: column;
  }

  .divs>div {
    margin: 20px 0;
  }

  .img3 {
    width: 100%;
  }

  .descriptionimg {
    text-align: left;
    font-size: 19px;
    padding-left: 0%;
    margin-top: 5px;
    margin-left: 12px;
    letter-spacing: 0.75px;
  }

  .h1 {
    font-size: 18px;
  }

  .h2 {
    font-size: 20px;
    margin-top: 7%;
  }

  .h3 {
    font-size: 20px;
    margin-top: 7%;
  }

  .p {
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 40px;
  }

  .img2 {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .divs {
    padding-top: 20px;
    font-size: 20px;
  }

  .divs>div {
    flex: 1;
    padding: 20px;
    margin: 0 30px;
  }

  .divs>div img {
    width: 100%;
    max-width: 200px;
  }
}