.main {
    padding-top: 6%;
    background-color: #f8f5f4;
}

.img1 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    overflow: hidden;
    position: relative;
    width: 96%;
    padding-left: 4%;
}

.article1 {
    position: absolute;
    text-align: center w-100 translate-up-50;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: -1.5%;
}

.article2 {
    display: inline-block;
}
/* .article4 {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.news {
    background-color: #252525;
    color: white;
    font-weight: bold text-small text-uppercase bg-black d-inline-block;
    text-transform: uppercase;
    padding: 6px 10px;
    font-weight: 700;
}

.img {
    width: 100%;
    padding-top: 1em;
}

.imgUltima {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 3em;
}

.section {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding: 0 16px;
}



.tituloHeader {
    text-align: center;
    padding-top: 1em;
    margin: 0 0 .25em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
}

.fraseHeader {
    font-family: OpenSans, sans-serif;
    font-size: 1.13rem;
    font-weight: 300;
    text-align: center;
    margin: 20px;
}

.autorHeader {
    font-family: OpenSans, sans-serif;
    font-size: 1em;
    margin: 1em 0 1.25em;
}

.texto {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    line-height: 2;
    margin: 1em 0;
}

.textoUltimo {
    padding-top: 3em;
    font-family: OpenSans, sans-serif;
    font-size: 1.1em;
    margin: 1em 0;
}

.video {
    width: 100%;
    height: 456px;
}

.tituloNoticia {
    padding-top: 1em;
    font-size: 1.875em;
    font-weight: 400;
    line-height: 1.1 !important;
    font-size: 1.875em;
    text-transform: uppercase;
}

.emm {
    font: italic;
    font-family: OpenSans, sans-serif;
}

.center {
    text-align: center;
}

.li {
    font-size: 1.1em;
    line-height: 3;
    list-style-type: inherit;
    font-family: OpenSans, sans-serif;
}

.li::before {
    content: "•";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -0.9em;
}

.liCircle {
    list-style-type: circle;
    font-family: OpenSans, sans-serif;
    margin-left: 2.5em;
}

.colorLink {
    font-family: OpenSans, sans-serif;
    color: #1db8f3;
}

.hr {
    border-top: 1px solid #b3b3b3;
}

.links {
    color: #288123;
}

.links:hover {
    background-color: black;
    color: #196d17;
}

.textos {
        padding: 2px 0px 5px 0px;
}

.quemFez {
    width: 80%;
    float: left;
}

.img2{
    width: 100%;
}

.section{
    display: flex;
    flex-direction:row;
}

.paddingDiv{
}